<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_base.css">
    <title>Dimension</title>

</head>
<body>
<header>
    <img class="logo" src="/img/logo2.png" alt="">
    <h1 class="header_title">titre du site</h1>


</header>
<div class="global">

