<nav>
    <ul>
        <li><a href="home_controller.php">Acceuil</a></li>
        <li><a href="article_list_controller.php">Articles</a></li>
        <li><a href="article_add_controller.php">Ajouter article</a></li>
        <li><a href="contact.php">Contact</a></li>
    </ul>
</nav>
